snippet ledf "code header for led function"
/-----------------------------------------------------------------------------------------------
	${1:fName}(${2:param}) :=
		${3:definition}
------------------------------------------------------------------------------------------------/

endsnippet

snippet ledc "code header for led constant"
/-----------------------------------------------------------------------------------------------
	${1:fName} :=
		${2:definition}
------------------------------------------------------------------------------------------------/

endsnippet

snippet ledr "code header for led function"
/-----------------------------------------------------------------------------------------------
	${1:fName}(${2:param}) :=
		${3:definition}
------------------------------------------------------------------------------------------------/

endsnippet

snippet ledrc "code header for led constant"
/-----------------------------------------------------------------------------------------------
	${1:fName} iff
		${2:definition}
------------------------------------------------------------------------------------------------/

endsnippet

snippet ledh "header"
/-----------------------------------------------------------------------------------------------
	$1
------------------------------------------------------------------------------------------------/
endsnippet

snippet author "author information"
By Qianji Zheng and J. Nelson Rushton, Texas Tech University 
`date +%m/%d/%Y`
endsnippet
